$secondaryColor :#FF79DA;
$mainColor:#9356DC;
$backgroundColor:rgb(240, 237, 237);

@mixin iconDecoration {
    left: -70px;
    height: 20px;
    color: gray;
    margin-right: 20px;

}
@mixin footerH {
    font-size: 16px;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
    
}
@mixin menuMargin {
    margin-left: 10px;
    margin-right: 10px;
    
}
@keyframes tick {
    0%{
        width: 0px;
        height: 75px;
        border-radius: 0px 25px 25px 0px;
        background: none;
    }
    100%{
      width: 70px;
      height: 75px;
      background: #99E2D0;
    }
  
}
@keyframes rotate {
    0%{
      display: none;
      background: none;
      padding: 0px;
      opacity: 0;
    }
    
    100%{
         transform: rotate(-360deg);
         display: block;
         opacity: 1;
    }
    
}

@keyframes loadmenu {
   0%{
       width: auto;
       height: 0px;
       opacity: 0;
   }
   100%{
       width:auto;
       height:75px;
       display: none;
   }
}
@keyframes menucontent {
   0%{
   width: auto;
   height: 0px;
   opacity: 0;
   }
   100%{
       width: auto;
       height: 50px;
       opacity: 1;
   }
}

body{
padding: 0px;
max-width: 1024px;
margin-left: auto;
margin-right: auto;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,shrikhand;
}
header{
    max-width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
   & img{
        height: 60px;
        padding-right: 120px;
    }
    & a{
       text-decoration: none;
        & .fa-arrow-left{
        float: left;
        margin-right: 100px;
        color: rgb(78, 78, 78);
        font-size: 25px;
       
        }
        }
 }

#headingImage{
    height: 500px;
    width: 1024px;
    overflow: hidden;
    position: absolute;
    & img{
        width: 100%;
        height: 800px;
    }
}

#menuContainer{
    max-width: 100%;
    height: auto;
    margin-top: 450px;
    background: $backgroundColor;
    border-radius: 30px 30px 0 0;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;

    
    & h2{
        font-size: 20px;
        @include menuMargin();
        color: rgba(0,0,0,0.8);
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 10px;
        
        }
        & .underline{
            border-bottom: 3px solid #99E2D0;
            width: 50px;
            padding-top: 0px;
            margin-top: 0px;
            margin-bottom: 20px;
            @include menuMargin();
        }
        & #order{
            margin-top: 30px;
            border-radius: 25px;
            padding: 15px;
            font-size: 16px;
            color: white;
            background-image:linear-gradient(to top,$mainColor,$secondaryColor);
            border-style: none;
            cursor: pointer;
            box-shadow: 0px 1px 5px rgb(139, 138, 138);
            width: 180px;
            margin-left: 380px
        
         }    
         & #sectionHeading{
         @include menuMargin();
         padding-top: 10px;
         display: flex;
         align-items: baseline;
         justify-content: space-between;
         padding-bottom: 0px;
         & h1{
           font-size: 30px;
           font-weight: 400;
           font-family: shrikhand;
           margin-bottom: 0px;
           }
           & i{
           font-size: 25px;
           margin-right: 20px;
           margin-bottom: 0px;
           padding-bottom: 0px;
           &:hover{
               color: $mainColor;
               }
            }
      
        }

    & .menuList{
    width: auto;
    height: 75px;
    @include menuMargin();
    background: white;
    border-radius: 25px;
    margin-bottom: 15px;
    animation: loadmenu 1s forwards ease-in-out;
    cursor: pointer;
    & .check{
        display: none;
    }
    &:hover{
    & .check{
        float: right;
        background: #99E2D0;
        border: none;
        height: 75px;
        width:0px;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border-radius: 0px 25px 25px 0px;
        margin-left: 30px;
        display: flex;
        animation: tick 1s forwards ease-in-out;
        margin-right: 0px;
    }
        & i{
            color: #99E2D0;
            border-radius: 50%;
            background: white;
            padding: 4px;
            position: absolute;
            float: right;
            animation: rotate 1s forwards ease-in-out;
        
            }
        
           
        }
    
      & .listContent{
        height: 50px;
        padding: 15px;
        align-items: center;
        justify-content: center;
        animation: menucontent 5s forwards ease-in-out ;
        & h3{
        margin-bottom: 5px;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 500;
        }
        & h4{
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 300;
        color:rgba(0,0,0,0.7);
        display: flex;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: auto;
        }
      
        & p{
        float: right;
        margin-top: 0px;
        margin-left: 20px;
        }
  
       }  
    }
}



footer{
    max-width: 100%;
    height:180px;
    background: rgba(0,0,0,0.8);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    & img{
        width:120px;
        height: 20px;
        filter:grayscale(1)invert(1);
        margin-left: 50px;
        padding-bottom: 20px;
        }
        & h4{
          font-weight: 600;
          @include footerH();
          & i{
               font-size: 12px;
               color: white;
               margin-left: 50px;
               margin-right: 15px;
               }
            }
        & h5{
            @include footerH();
            margin-left: 50px;
            font-weight: 300;
           
        }
}






@media screen and (max-width :375px)
{
    $secondaryColor :#FF79DA;
    $mainColor:#9356DC;
    $backgroundColor:rgb(240, 237, 237);

    @mixin iconDecoration {
        left: -70px;
        height: 20px;
        color: gray;
        margin-right: 20px;

    }
    @mixin footerH {
        font-size: 16px;
        color: white;
        margin-bottom: 0px;
        padding-bottom: 10px;
        margin-top: 0px;
        padding-top: 0px;
        
    }
    @mixin menuMargin {
        margin-left: 10px;
        margin-right: 10px;
        
    }
    @keyframes tick {
        0%{
            width: 0px;
            height: 75px;
            border-radius: 0px 25px 25px 0px;
            background: none;
        }
        100%{
          width: 70px;
          height: 75px;
          background: #99E2D0;
        }
      
    }
    @keyframes rotate {
        0%{
          display: none;
          background: none;
          padding: 0px;
        }
        
        100%{
             transform: rotate(-360deg);
             display: block;
        }
        
    }
   
   @keyframes loadmenu {
       0%{
           width:auto;
           height: 0px;
           opacity: 0;
       }
       100%{
           width:auto;
           height:75px;
           display: none;
       }
   }
   @keyframes menucontent {
       0%{
       width: auto;
       height: 0px;
       opacity: 0;
       }
       100%{
           width: auto;
           height: 50px;
           opacity: 1;
       }
   }

 body{
    margin: 0px;
    width: 100%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,;
    }
    header{
        width: 100%;
        padding-top: 18px;
        padding-bottom: 18px;
        justify-content: center;
        align-items: center;
        display: flex;
       & img{
            height: 30px;
            padding-right: 70px;
        }
        & a{
           text-decoration: none;
            & .fa-arrow-left{
            float: left;
            margin-right: 53px;
            color: rgb(78, 78, 78);
            font-size: 20px;
           
            }
            }
     }

    #headingImage{
        height: 220px;
        width:100%;
        overflow: hidden;
        position: absolute;
        & img{
            width: 100%;
            height: 220px;
        }
    }
 
    #menuContainer{
        max-width: 100%;
        height: auto;
        margin-top: 180px;
        background: $backgroundColor;
        border-radius: 30px 30px 0 0;
        position: relative;
        padding-bottom: 50px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        & h2{
            font-size: 18px;
            @include menuMargin();
            color: rgba(0,0,0,0.8);
            font-weight: 400;
            margin-top: 30px;
            margin-bottom: 0px;
            padding-bottom: 10px;
            
            }
            & .underline{
                border-bottom: 3px solid #99E2D0;
                width: 50px;
                padding-top: 0px;
                margin-top: 0px;
                margin-bottom: 20px;
                @include menuMargin();
            }
            & #order{
                margin-top: 30px;
                margin-left: 100px;
                border-radius: 25px;
                padding: 15px;
                font-size: 16px;
                color: white;
                background-image:linear-gradient(to top,$mainColor,$secondaryColor);
                border-style: none;
                cursor: pointer;
                box-shadow: 0px 1px 5px rgb(139, 138, 138);
                width: 180px;
                margin-left: 100px;
             }    
        & #sectionHeading{
            @include menuMargin();
           padding-top: 10px;
           display: flex;
           align-items: baseline;
           justify-content: space-between;
           padding-bottom: 0px;
           & h1{
               font-size: 28px;
               font-weight: 400;
               font-family: shrikhand;
               margin-bottom: 0px;
           }
           & i{
               font-size: 25px;
               margin-right: 20px;
               margin-bottom: 0px;
               padding-bottom: 0px;
               &:hover{
                   color: $mainColor;
               }
            }
          
        }
    }
    & .menuList{
        width: auto;
        height: 75px;
        @include menuMargin();
        background: white;
        border-radius: 25px;
        margin-bottom: 15px;
        animation: loadmenu 1s forwards ease-in-out;
        cursor: pointer;
        & .check{
            display: none;
        }
        &:hover{
        & .check{
            float: right;
            background: #99E2D0;
            border: none;
            height: 75px;
            width:0px;
            justify-content: center;
            align-items: center;
            padding: 0px;
            border-radius: 0px 25px 25px 0px;
            margin-left: 30px;
            display: flex;
            animation: tick 1s forwards ease-in-out;
            margin-right: 0px;
        }
            & i{
                color: #99E2D0;
                border-radius: 50%;
                background: white;
                padding: 4px;
                position: absolute;
                float: right;
                animation: rotate 1s forwards ease-in-out;
            
                }
            
               
            }
            
          
        
           
        & .listContent{
            height: 50px;
            padding: 15px;
            align-items: center;
            animation: menucontent 6s forwards ease-in-out ;
        & h3{
            margin-bottom: 5px;
            margin-top: 0px;
            font-size: 18px;
            font-weight: 500;
        }
        & h4{
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 300;
            color:rgba(0,0,0,0.7);
            display: flex;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: auto;
            }
          
        & p{
            float: right;
            margin-top: 0px;
            margin-left: 20px;
        }
      
            
     }
    
    }

    footer{
        width: 100%;
        height:180px;
        background: rgba(0,0,0,0.8);
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 0px;
        & img{
            width:120px;
            height: 20px;
            filter:grayscale(1)invert(1);
            margin-left: 30px;
            padding-bottom: 20px;
            }
            & h4{
              font-weight: 600;
              @include footerH();
              & i{
                   font-size: 12px;
                   color: white;
                   margin-left: 30px;
                   margin-right: 15px;
                   }
                }
            & h5{
                @include footerH();
                margin-left: 30px;
                font-weight: 300;
               
            }
    }
}