@media screen and (max-width: 375px) {
  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes hide {
    to {
      width: 0px;
      height: 0px;
      visibility: hidden;
      overflow: hidden;
    }
  }
  @keyframes hide {
    to {
      width: 0px;
      height: 0px;
      visibility: hidden;
      overflow: hidden;
    }
  }
  body {
    margin: 0px;
    width: 100%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  body #loaderContainer {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #99E2D0;
    position: fixed;
    -webkit-animation: hide 0s forwards 5s;
            animation: hide 0s forwards 5s;
    z-index: 99999;
    opacity: 1;
  }
  body #loaderContainer h5 {
    color: #9356DC;
  }
  body #loaderContainer #loader {
    width: 80px;
    height: 80px;
    border: 10px solid #FF79DA;
    border-radius: 50%;
    border-top: 10px solid #9356DC;
    -webkit-animation: loading  linear 1s 5;
            animation: loading  linear 1s 5;
    position: absolute;
  }
  header {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 2px solid #b9b4b4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header img {
    height: 30px;
  }
  #location {
    width: 100%;
    height: 50px;
    background: #dbd9d9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #location h1 {
    margin-left: 14px;
    font-size: 18px;
    font-weight: 400;
  }
  #headings {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f0eded;
  }
  #headings h1 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #headings p {
    font-size: 17px;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.5);
  }
  #headings button {
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: 15px;
    font-size: 16px;
    color: white;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    border-style: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 5px #8b8a8a;
            box-shadow: 0px 1px 5px #8b8a8a;
  }
  #howitswork {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #howitswork h1 {
    font-size: 22px;
    margin-left: 25px;
    margin-bottom: 40px;
  }
  #howitswork button {
    border-radius: 25px;
    background: #f0eded;
    padding: 20px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-style: none;
    width: 330px;
    height: 80px;
    font-size: 18px;
    padding-left: 0px;
    margin-left: 25px;
    -webkit-box-shadow: 0px 2px 5px #d6d4d4;
            box-shadow: 0px 2px 5px #d6d4d4;
  }
  #howitswork button i:first-child {
    background: #9356DC;
    border-radius: 50%;
    padding: 10px;
    margin-left: -10px;
    height: 12px;
    color: white;
    margin-right: 20px;
    font-size: small;
  }
  #howitswork button .fa-mobile-screen-button {
    left: -70px;
    height: 20px;
    color: gray;
    margin-right: 20px;
  }
  #howitswork button .fa-list {
    left: -70px;
    height: 20px;
    color: gray;
    margin-right: 20px;
  }
  #howitswork button .fa-store {
    color: #9356DC;
    margin-right: 20px;
  }
  #restaurants {
    background: #f0eded;
    width: 100%;
    padding-bottom: 50px;
  }
  #restaurants h1 {
    font-size: 23px;
    margin-left: 20px;
    padding-top: 50px;
  }
  #restaurants .cardcontainer {
    width: 340px;
    height: 260px;
    -webkit-box-shadow: 0 5px 10px #d6d1d1;
            box-shadow: 0 5px 10px #d6d1d1;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
  }
  #restaurants .cardcontainer .imagecards {
    height: 180px;
    width: 340px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    position: relative;
  }
  #restaurants .cardcontainer .imagecards img {
    width: 340px;
    height: 180px;
  }
  #restaurants .cardcontainer .imagecards .topright {
    width: 80px;
    height: 20px;
    position: absolute;
    background: #99E2D0;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    top: 20px;
    right: 15px;
    color: green;
  }
  #restaurants .cardcontainer .imageinfo {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 0px;
  }
  #restaurants .cardcontainer .imageinfo h2 {
    font-size: 18px;
    margin-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #restaurants .cardcontainer .imageinfo h3 {
    font-size: 18px;
    font-weight: 300;
    margin-left: 20px;
    padding-top: 0px;
    margin-top: 2px;
    float: left;
  }
  #restaurants .cardcontainer #heart {
    float: right;
    font-size: 25px;
    padding-top: 0px;
    margin-top: 25px;
    margin-right: 50px;
    color: rgba(0, 0, 0, 0.5);
  }
  #restaurants .cardcontainer #heart .fa-solid {
    display: none;
    position: absolute;
    width: 20px;
    height: 15px;
    padding-right: 30px;
    color: #9356DC;
  }
  #restaurants .cardcontainer #heart .fa-regular {
    position: absolute;
    width: 20px;
    height: 15px;
    padding-right: 30px;
  }
  #restaurants .cardcontainer #heart .fa-regular:hover + .fa-solid {
    display: block;
    color: #9356DC;
  }
  footer {
    width: 100%;
    height: 180px;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
  }
  footer img {
    width: 120px;
    height: 20px;
    -webkit-filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(1);
    margin-left: 30px;
    padding-bottom: 20px;
  }
  footer h4 {
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
  }
  footer h4 i {
    font-size: 12px;
    color: white;
    margin-left: 30px;
    margin-right: 15px;
  }
  footer h5 {
    font-size: 16px;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 30px;
    font-weight: 300;
  }
}
/*# sourceMappingURL=home.css.map */